{% extends "base.html" %}
  {% load staticfiles %}



{%block title %}Login{% endblock %}
{%block head %}Login{% endblock %}
{% block content %}
<div class="main-body">
  <div class="row">
  <div class="col-lg-3 col-md-4 col-sm-8 col-xs-10 login-box col-centered">
    <ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Student Login</a></li>
  <li><a data-toggle="tab" href="#menu1"> Teacher Login</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    {% if form.has_errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                {% endif %}
                <form class="form-horizontal" name="LoginForm" action="/login/" method="post">
                    {% csrf_token %}
                    {% if next %}
                        <input type="hidden" name="next" value="{{ next }}" />
                    {% endif %}
                     <div class="input-group input-group-lg">
                     <span class="input-group-addon" id="sizing-addon1">Email</span>
                    <input class="form-control"  aria-describedby="sizing-addon1" placeholder="Email" name="email" type="email">
                    </div>
                    <div class="input-group input-group-lg">
                     <span class="input-group-addon" id="sizing-addon1">Password</span>
                    <input class="form-control" aria-describedby="sizing-addon1" placeholder="Password" name="password" type="password" tabindex="1">
                    </div>
                   
                    <div class="login-button">
                        <button type="submit" class="submitbtn">Login</button>
                    </div>
        </form>



  </div>
  <div id="menu1" class="tab-pane fade">
    {% if form.has_errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                {% endif %}
                <form class="form-horizontal" name="LoginForm" action="/login/" method="post">
                    {% csrf_token %}
                    {% if next %}
                        <input type="hidden" name="next" value="{{ next }}" />
                    {% endif %}
                     <div class="input-group input-group-lg">
                     <span class="input-group-addon" id="sizing-addon1">Email</span>
                    <input class="form-control"  aria-describedby="sizing-addon1" placeholder="Email" name="email" type="email">
                    </div>
                    <div class="input-group input-group-lg">
                     <span class="input-group-addon" id="sizing-addon1">Password</span>
                    <input class="form-control" aria-describedby="sizing-addon1" placeholder="Password" name="password" type="password" tabindex="1">
                    </div>
                   
                    <div class="login-button">
                        <button type="submit" class="submitbtn">Login</button>
                    </div>
        </form>
  </div>
  </div>
</div>
</div>



</div>
</div>

</div>
           {% endblock %}
