{% extends "base.html" %}
  {% load staticfiles %}



{%block title %}Login{% endblock %}
{%block head %}Login{% endblock %}
{% block content %}
    <section id="banner-login">
        <section class="cd-intro-login">
            <h2 class="cd-headline clip" style="margin-bottom: 25px;">
                <b class="is-visible">Login to continue</b> </h2>
            <div id="wrapper">
            {% if form.has_errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                {% endif %}
                <form class="form-horizontal" name="LoginForm" action="/login/" method="post">
                    {% csrf_token %}
                    {% if next %}
                        <input type="hidden" name="next" value="{{ next }}" />
                    {% endif %}
                     <div class="input-register">
                        <input class="input-field-login" placeholder="Email" name="email" type="email" tabindex="1">
                    </div>
                    <div class="input-register">
                        <input class="input-field-login" placeholder="Password" name="password" type="password" tabindex="1">
                    </div>
                   
                    <div class="col-submit">
                        <button type="submit" class="submitbtn">Login</button>
                    </div>
        </form>
            </div>
        </section>
           {% endblock %}
