{% extends "base.html" %}
{% block title %}Registration{% endblock %}
{% block head %}Registration{% endblock %}
 {% block content %}

    <section id="banner-register">
        <section class="cd-intro">
            <h2 class="cd-headline clip" style="margin-bottom: 25px;">
                <b class="is-visible">Register and Earn with Us</b> </h2>
            <div id="wrapper">
                <h2 style="text-align: left; margin-bottom: 1px; margin-top: 1em; margin-left: 2em;">Basic Personal Details:</h2>
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <form name="UserForm" action="/signup_tutor/" method="post" >
                {% csrf_token %}
                    {% if next %}
                        <input type="hidden" name="next" value="{{ next }}" />
                    {% endif %}
                    <div class="input-register">
                        <input class="input-field-register" placeholder="First Name" name="first_name" tabindex="1">
                        <input class="input-field-register" placeholder="Last Name" name="last_name" tabindex="2">
                    </div>
                    <div class="input-register">
                        <input class="input-field-register" placeholder="Email" name="email" tabindex="1">
                        <input class="input-field-register" placeholder="Mobile" name="mobile" tabindex="2">
                    </div>
                    <div class="input-register">
                        <input class="input-field-register" placeholder="Age" name="age" tabindex="1">
                        <input class="input-field-register" placeholder="password" name="password" tabindex="1">
                        
                    </div>

                    <div class="input-register">
                         <input class="input-field-register" type="radio" name="gender" value="male"> Male<br>
                         <input class="input-field-register" type="radio" name="gender" value="female"> Female<br>
                         <input type="hidden" name="role_id" value=2 />
                    </div>



                    <div class="col-submit">
                        <button type="submit" class="submitbtn">Register</button>
                    </div>
                </form>
            </div>
        </section>
        {% endblock %}