{% extends "base.html" %}
{% block title %}Registration{% endblock %}
{% block head %}Registration{% endblock %}
 {% block content %}
<!-- <form method="post" action=".">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="register" />
</form> -->


<section id="banner-register">
    <section class="cd-intro">
        <h2 class="cd-headline clip" style="margin-bottom: 25px;">
            <b class="is-visible">Register with Us</b> </h2>
        <div id="wrapper">
            <h2 style="text-align: left; margin-bottom: 1px; margin-top: 1em; margin-left: 2em;"> Parent's Details:</h2>
            <form>
                <div class="input-register">
                    <input class="input-field-register" placeholder="Name" name="subject" tabindex="1">
                    <input class="input-field-register" placeholder="Contact Number" name="company" tabindex="2">
                </div>
                <div class="input-register">
                    <input class="input-field-register" placeholder="Email" name="subject" tabindex="1">
                    <input class="input-field-register" placeholder="Occupation" name="company" tabindex="2">
                </div>

                <h2 style="text-align: left; margin-bottom: 1px; margin-top: 1em; margin-left: 2em;">Student's Details:</h2>
                <div class="input-register">
                    <input class="input-field-register" placeholder="Name" name="subject" tabindex="1">
                    <input class="input-field-register" placeholder="Grade" name="company" tabindex="2">
                </div>
                <div class="input-register">
                    <input class="input-field-register" placeholder="Date Of Birth" name="subject" tabindex="1">
                    <input class="input-field-register" placeholder="School" name="company" tabindex="2">
                </div>
                <div class="input-register">
                    <input class="input-field-register" placeholder="Address" name="subject" tabindex="1">
                    <input class="input-field-register" placeholder="Board" name="company" tabindex="2">
                </div>

                <div class="col-submit">
                    <a href="#" class="submitbtn">Register</a>
                </div>
            </form>
        </div>
    </section>

    {% endblock %}