@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

/* Here are all the classes of the css */

.mainbox {
  background-image: url(../assets/dark_tint.png), url(../assets/bg.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  text-align: center;
  align-content: center;
}

.container-fluid {
  margin: 0px !important;
  padding: 0px !important;
}

.navbar-header {
  padding: 1%;
}

.navbar-default {
  background: none !important;
  border: none !important;
}


.logo {
  height: 32px;
}

.logo:hover {
  content: url(../assets/logo-white-hover.png);
}


.navbar-default .navbar-nav>li>a {
  color: white;
  font-size: 1.4em;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #e0dddd;
}


.header {
  display: inline-block;
  width: 100%;
  padding-top: 2%;
  background: none;
}
.header-left {
  display: inline;
  float: left;
  padding-left: 2%;
}

.header-right {
  display: inline;
  float: right;
  text-align: right;
  padding-right: 2%;
}

.main-menu {
  list-style: none;
  display: inline;
  font-weight: 300;
}

.main-menu li {
  display: inline;
  padding: 8px 18px;
}

.main-menu a {
  text-decoration: none;
  color: white;
}

.white-button {
  color: #d2a007 !important;
  background-color: white;
  border-radius: 20px;
}
.main-body {
  clear: both;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 10%;
}

.main-body h1 {
  font-size: 4em;
  font-weight: 300;
  margin-bottom: 1%;
}

.main-body p {
  font-size: 1.2em;
  font-weight: 100;
  letter-spacing: 0.1em;
  margin-bottom: 0;

}

.search-input {
  margin: 5px auto 20px auto;
  transition: 1s;
}

.search-input input {
  padding: 1% 3%;
  text-align: center;
  margin: 5px 8px;
  border-radius: 30px;
  transition: 1s;
  font-size: 1em;
  color: #2a2b2c;
}

.search-input input:focus {
  border: none;
}

.search-input button {
  font-size: 1.2em;
  padding: 7px 25px;
  margin-top: 10px;
  background-color: #3cadd4;
  border: 1px solid #3cadd4;
  border-radius: 20px;
  color: white;
}


.research-input {
  margin: 5px auto 10px auto;
  transition: 1s;
}

.research-input input {
  padding: 0.7% 1.5%;
  text-align: center;
  margin: 3px 4px;
  border-radius: 30px;
  transition: 1s;
  font-size: 0.8em;
  color: #2a2b2c;
}

.research-input input:focus {
  border: none;
}

.research-input button {
  font-size: 1.2em;
  padding: 7px 25px;
  margin-top: 10px;
  background-color: #3cadd4;
  border: 1px solid #3cadd4;
  border-radius: 20px;
  color: white;
}

.steps {
  display: inline-block;
  width: 100%;
}

.step {
  background-color: white;
  width: 30%;
  box-shadow: 10px;
  display: inline;
  float: left;
  margin: 1.66%;
  border-radius: 15px;
}

.step h2 {
  margin: 0;
  text-align: center;
  font-size: 1.2em;
}

.step img {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.step p {
  text-align: left;
  font-size: 1em;
  font-weight: 300;
  padding: 2%;
}

.footer {
  background-color: #444;
  color: white;
}

.footer .row {
  text-align: center;
}

.footer .row ul {
  list-style: none;
  padding: 0px;
}

.footer .row ul li {
  line-height: 2em;
  color: #cdced0;
}


.bold {
  color: white !important;
  padding: 5%;
  font-size: 1.4em;
  font-weight: bold;
}

.search-results .row {
  margin: 2% 1% 0px 1%;
}

.search-results .row ul {
  margin: 0px;
  padding: 0px;
}

.search-results .row ul li {
  padding: 10px;
}

.list-group .list-group-item {
  border: none !important;
  background: none;
  color: white;
}

.filters {
  background: none;
  text-align: left;
}

.row nav {
  text-align: left;
}

.row ul {
  list-style: none;
}


.filter-head {
  background: #2a2b2c !important;
  font-size: 1.4em;
  font-weight: bold;
}


.tutor-card {
  background-color: white;
  border: 2px solid grey;
  border-radius: 5px;
  text-align: center;
  color: black;
}

.tutor-card img {
  border-radius: 50%;
  width: 70%;
  margin: 1% auto;
}

.tutor-card .thick {
  font-size: 1.3em;
  /*text-align: left;*/
  font-weight: bold;
}

.tutor-card .thin {
  font-size: 0.8em;
  font-weight: 300;
  margin-top: -5%;
}

.tutor-card .medium {
  font-size: 1em;
  font-weight: 400;
  margin-top: -5%;
  text-align: left;

}

.tutor-picture {
  border-radius: 50%;
  width: 70%;
  margin: 1% auto;
}

.tutor-details {
  width: 95%;
  margin: 10% auto;
  display: none;
}

.view-details-button {
  width: 70%;
  background: #d2a007;
  margin: 5% auto;
  border-radius: 5px;
  padding: 2% 3%;
  color: white;
}

#tutor-more-details {
  display: none;
}

.hire-now-button {
  background: #d2a007;
  border-radius: 5px;
  padding: 2% 3%;
  color: white;
  text-decoration: none;
}


button {
  border: none;
  background: none;
  margin: 5% auto;
}


.breadcrumb {
  background: none;
}
/*Here are all the IDs */

#HowItWorks {
  margin: 0;
  background-color: grey;
  padding-top: 40px;
}

hr {
  color: black;
}


#HowItWorks h1 {
  font-weight: 300;
  font-size: 3.5em;
  margin: 0;
  text-align: center;
}

#HowItWorks p {
  font-weight: 300;
  font-size: 1.5em;
  margin: 0;
  text-align: center;
}



/*Long Profile Css*/

.long-profile .tutor-picture {
  margin-bottom: 3%;
}

.long-profile .container {
  width: 75%;
  margin-bottom: 5%;
}

.long-profile .tutor-details {
  text-align: left;
  margin-top: 0px;
}


.long-profile .head {
  font-size: 1.2em;
  font-weight: bold;
}


.long-profile .panel-title {
  /*text-align: left;*/
}

.long-profile .panel-body {
  color: black;
}

.long-profile .row {
  margin: 1.4% auto;
}

.long-profile .name-field {
  margin-bottom: 2.5%;
}

.long-profile small {
  color: white;
}

.long-profile .hire-now-button {
  background: #d2a007;
  border-radius: 5px;
  padding: 1% 2%;
  color: white;
  text-decoration: none;
  width: 30%;
  display: inline;
  margin-left: 10%;
}

.login-box {
  /*width: 25%;*/
  margin: auto !important;
  text-align: center;
  display: block;
}
.login-box .row {
  align-items: center;
}
.login-box ul a{
  color: white;
}

.login-box ul a:hover{
  color: black;
}

.login-box .enter-field-text{
  text-align: left;
  font-size: 1.2em;
  font-weight: bold;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.login-box .tab-content {
  border: 1px solid white;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background: white;
  color: black;

}

.login-box h2{
  text-align: left;
}

.login-box .input-group {
  width: 70%;
  margin: 7% auto 5% auto;
}

.login-box .login-button {
  width: 40%;
  background: #3fadd2;
  border-radius: 20px;
  padding: 2% 3%;
  margin: auto auto 5% auto;
  font-size: 1.3em;
  color: white;
}

.sign-up .input-group{
  margin: 3% auto 2% auto;;
}



/*NEW Signup */

.dont-display {
  display: none !important;
}

.sign-up h1{
  color: black !important;
}

.sign-up table{
  color: black !important;
}


.sign-up .input-group {
  color: black;
  text-align: left;
}

/*Student Dashboard*/
.sidebar {
  background: white;
  min-height: 100%;
  line-height: 1.4em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.sidebar .active {
  background: #3fadd2 !important;
  color: white;
}


.dashboard-details {
  /*background-color: white;*/
  text-align: left;
}
/*
.dashboard-details .row {
  text-align: center;
}*/

.class-details {
  background: white;
  color: black;
  padding: 5% 8%;
  border-radius: 5px;
  margin: 2% auto 2% auto;
}

.class-details .class-date{
  font-size: 0.8em;

}

.class-details .class-subject {
  font-size: 1.2em;
  font-weight: bold;
}


.class-details .class-topic {
  font-size: 1.2em;
  font-weight: lighter;
}


.payment-details {
  background: white;
  color: black;
  padding: 5% 8%;
  border-radius: 5px;
  margin: 2% auto;
}

.payment-details .payment-date{
  font-size: 0.8em;
}

.payment-details .payment-type-credit{
  color: green;

}

.payment-details .payment-type-debit{
  color: red;

}

.payment-details .remaining-balance {
  text-align: center;
  color: green;
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 2%;
}



.small-submit {
  background-color: white;
  color: black;
  border: none;
  border-radius: 10px;
}

.payments-summary {
  color: black;
}

.add-money-button {
  float: right;
}

.transaction-details {
  text-align: left;
}

.transaction-summary h4{
  color: black;
}

.transaction-summary th{
  color: black;
}

.transaction-summary tr{
  color: black;
}

.transaction-summary button{
  margin-top: 0px;
  margin-bottom: 3%;
}
