{%extends "base.html" %}
{% load staticfiles %}
{%block title %}{% endblock %}
{%block head %}{% endblock %}
{%block content %}

<section id="banner-payment">
        <section class="cd-intro">
            <h2 class="cd-headline clip"><b class="is-visible">Tell Us About You More..</b> </h2>
            <!-- <div id="wrapper">
                <form>
                    <div class="input-payment">
                        <input class="input-field-payment" placeholder="Mobile Number" name="subject" tabindex="1">
                    </div>
                    <div class="input-payment">
                        <input class="input-field-payment" placeholder="Amount" name="company" tabindex="2">
                    </div>

                    <div class="col-submit">
                        <a href="#" class="submitbtn">Pay Now</a>
                    </div>
                </form>
            </div> -->
            <div class="cd-faq-items">
                    <ul.unstyled id="basics" class="cd-faq-group">
                       <li>
                            <a class="cd-faq-trigger" href="#0">Your Prefernces</a>
                            <div class="cd-faq-content">
                                 <form action="/action_page.php">

                                    <label for="fname">Sunday</label>
                                     <label for="fname">Monday</label>
                                      <label for="fname">Tuesday</label>
                                       <label for="fname">Wednesday</label>
                                        <label for="fname">Thrusday</label>
                                         <label for="fname">Friday</label>
                                          <label for="fname">Saturday</label>
                                          <label for="fname">Time Slot</label>
                                   <select name="cars">
                                          <option value="volvo">Morning</option>
                                          <option value="fiat">Afternoon</option>
                                          <option value="saab">Evening</option>
                                        </select>
                                    <label for="fname">Tution Type</label>
                                   <select name="cars">
                                          <option value="volvo">ONE-ON-ONE</option>
                                          <option value="fiat">GROUP</option>
                                        </select>
                                        <label for="fname">Teaching Experience</label>
                                    <input type="text" id="fname" name="firstname" placeholder="Exp..">
                                      <label for="fname">Prefred Suration Session</label>
                                    <input type="text" id="fname" name="firstname" placeholder="Session Duration in mins">

                                    <input type="submit" value="Submit">

                                  </form>
                            </div>
                            <!-- cd-faq-content -->
                        </li>
                        <li>
                            <a class="cd-faq-trigger" href="#0">Add Skill</a>
                            <div class="cd-faq-content">
                                 <form action="/action_page.php">

                                    <label for="fname">Subject Category Name</label>
                                    <input type="text" id="fname" name="firstname" placeholder="name..">

                                    <label for="lname">Sub-SUbject NAme</label>
                                    <input type="text" id="lname" name="lastname" placeholder="name..">

                                    <label for="subject">Exterpise Level</label>
                                    <input type="text" id="lname" name="lastname" placeholder="xpertise Level.">

                                    <input type="submit" value="Submit">

                                  </form>
                            </div>
                            <!-- cd-faq-content -->
                        </li>
                        <li>
                            <a class="cd-faq-trigger" href="#0">Add Qualification</a>
                            <div class="cd-faq-content">
                                
                                  <form action="/action_page.php">

                                    <label for="fname">Degree Name</label>
                                    <input type="text" id="fname" name="firstname" placeholder="Degree name..">

                                    <label for="lname">University</label>
                                    <input type="text" id="lname" name="lastname" placeholder="University name..">


                                    <input type="submit" value="Submit">

                                  </form>

                            </div>
                            <!-- cd-faq-content -->
                        </li>
                        <li>
                            <a class="cd-faq-trigger" href="#0">More..</a>
                            <div class="cd-faq-content">
                                 <form action="/action_page.php">

                                    <label for="subject">Bio</label>
                                    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

                                    <input type="submit" value="Submit">

                                  </form>
                            </div>
                            <!-- cd-faq-content -->
                        </li>
                       </ul>
              </div>  
              </section>


{% endblock %}
<script type="text/javascript">
{% block jquery %}


{% endblock %}
</script>


