<!DOCTYPE HTML>
<html lang="en">
<head>
<title>{% block title %}TryMyTutor | Hire the Best Tutors in Delhi NCR, Mumbai{% endblock %}</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <meta charset="utf-8">
  <meta property="og:title" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">

 {% load staticfiles %}

  <script src="{% static 'js/jquery-3.2.1.js' %}"></script>
  <script src="http://code.jquery.com/ui/1.12.0/jquery-ui.js" ></script>
  <link href="http://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
<!-- BootStrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- BootStrap Ends -->


<!-- Styles -->

<link rel="stylesheet" href="{% static 'css/main.css' %}" />
<!-- <link rel="stylesheet" media='screen and (min-width: 421px)' href="css/main.css" /> -->
<!-- <link rel="stylesheet" media='screen and (max-width: 420px)' href="css/mobile.css" /> -->

 <script>
            
            {% if messages %}
                {% for message in messages %}
                    alert(message);
                {% endfor %}
            {% endif %}
        </script>
</head>
<body>
  <!-- This is the Container starting -->
<div class="container-fluid">
  <div class="mainbox">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
        <img alt="Brand" src="{% static 'assets/logo-white.png' %}" class="logo"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right navbar-header">
        {% if user.is_authenticated %}
            <li class="hvr-buzz">Welcome {{ request.user.email }}</li>
                   <li><a href="{% url 'profile_tutor' %}" class="hvr-buzz">Profile</a></li>
                    <li><a href="{% url 'account_tutor' %}" class="hvr-buzz">Account</a></li>
                   <li><a href="{% url 'logout' %}" class="hvr-buzz">Logout</a></li>

            {% else %}
               <li><a href="http://trymytutor.com/blog" class="hvr-buzz">Blog</a></li>
                <li><a href="#" class="hvr-buzz ">How it works?</a></li>
                <li><a href="{% url 'signup_tutor' %}">Become a Tutor</a></li>
                 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'login' %}">Login</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'signup_tutor' %}">SignUp</a></li>
          </ul>
          </li>
            {% endif %}
          
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


    <!-- Banner -->
    {% block content %}{% endblock content %}
    
        <!-- Footer -->
<div class="footer">

  <div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12 col-lg-3">
        <ul>
          <li><a href="http://trymytutor.com/info/aboutus">About Us</a></li>
          <li><a href="http://trymytutor.com/payment">Payments</a></li>
          <li><a href="/faqs">FAQs</a></li>
          <li><a href="http://trymytutor.com/info/contactus">Contact-Us</a></li>
          <li><a href="http://trymytutor.com/info/terms_and_conditions">Terms and Conditions</a></li>
        </ul>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 col-lg-3">
        <ul>
          <li class="bold">Tutors by location</li>
          <li>Home tutors in Delhi</li>
          <li>Home tutors in Gurgaon</li>
          <li>Home tutors in Noida</li>
          <li>Home tutors in Ghaziabad</li>
          <li>Home tutors in Delhi NCR</li>
          <li>Home tutors in Faridabad</li>
        </ul>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 col-lg-3">
        <ul>
          <li class="bold">Gurgaon </li>
          <li>Maths tutors in Gurgaon</li>
          <li>Science tutors in Gurgaon</li>
          <li>Accounts tutors in Gurgaon</li>
          <li>Physics tutors in Gurgaon</li>
          <li>Chemistry tutors in Gurgaon</li>
        </ul>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12 col-lg-3">
        <ul>
          <ul>
            <li class="bold">Noida </li>
            <li>Maths tutors in Noida</li>
            <li>Science tutors in Noida</li>
            <li>Accounts tutors in Noida</li>
            <li>Physics tutors in Noida</li>
            <li>Chemistry tutors in Noida</li>
          </ul>
    </div>
  </div>
  <hr>
</div>

<!--This ends the Footer -->
</div>
</div>
 <script>
  $( function() {
    var subjectsTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskell",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
    ];
    var gradesTags = [
    "Class 1","Class 2","Class 3","Class 4","Class 5","Class 6","Class 7","Class 8","Class 9","Class 10","Class 11","Class 12","Beginner","Intermidate","Advanced","Gradution","Post-Gradution"
    ];
    var pinsTags = [
      "110010","110011","110012","110013","110014","110015","110016","110017","110018","110019","110020","110021","110022","110023","1100124","110025","1100126","1100127","1100128","110029","110030","110031","110033","110034","110035"
    ];
    $( "#subjects" ).autocomplete({
      source: subjectsTags
    });
    $( "#grades" ).autocomplete({
      source: gradesTags
    });
    $( "#pins" ).autocomplete({
      source: pinsTags
    });
  } );
  </script>      
</body>
</html>
