<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}TryMyTutor.com{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
     <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
    {% load staticfiles %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/skel.min.js' %}"></script>
    <script src="{% static 'js/skel-layers.min.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>
			<link rel="stylesheet" href="{% static 'css/rahul.css' %}" />
            <link rel="stylesheet" href="{% static 'css/skel.css' %}" />
			<link rel="stylesheet" href="{% static 'css/reset.css' %}">
			<link rel="stylesheet" href="{% static 'css/style.css' %}" />
			<link rel="stylesheet" href="{% static 'css/style-xlarge.css' %}" />
			<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
            <script>
            
            {% if messages %}
                {% for message in messages %}
                    alert(message);
                {% endfor %}
            {% endif %}
        </script>
</head>
<body class="landing">
    <!-- Header -->
    <header id="header">
        <a href="index.html"><img id="logo" class="logo hvr-buzz" src="{% static 'images/logo-white.png' %}" width="20%" align="left"></a>
        <nav id="nav">
            <ul>
            {% if user.is_authenticated %}
            <li class="hvr-buzz">Welcome {{ request.user.email }}</li>
                   <li><a href="{% url 'profile_tutor' %}" class="hvr-buzz">Profile</a></li>
                    <li><a href="{% url 'account_tutor' %}" class="hvr-buzz">Account</a></li>
                   <li><a href="{% url 'logout' %}" class="hvr-buzz">Logout</a></li>

            {% else %}
               <li><a href="http://trymytutor.com/blog" class="hvr-buzz">Blog</a></li>
                <li><a href="#howitworks" class="hvr-buzz ">How it works?</a></li>
                <li><a href="{% url 'signup_tutor' %}" class="hvr-buzz button2">Become a Tutor</a></li>
                <li><a href="{% url 'login' %}" class="hvr-buzz">Login</a></li>

            {% endif %}
            </ul>
        </nav>
    </header>

    <!-- Banner -->
    {% block content %}{% endblock content %}
    
        <!-- Footer -->

        <footer id="footer">
            <div class="container">
                <section class="links">
                    <div class="row">
                        <section class="3u 6u(medium) 12u$(small)">
                            <h3>Information</h3>
                            <ul class="unstyled">
                                <li><a href="http://trymytutor.com/info/aboutus">About Us</a></li>
                                <li><a href="http://trymytutor.com/payment">Payments</a></li>
                                <li><a href="/faqs">FAQs</a></li>
                                <li><a href="http://trymytutor.com/info/contactus">Contact-Us</a></li>
                                <li><a href="http://trymytutor.com/info/terms_and_conditions">Terms and Conditions</a></li>
                            </ul>
                        </section>
                        <section class="3u 6u$(medium) 12u$(small)">
                            <h3>Tutors by Location</h3>
                            <ul class="unstyled">
                                <li><a href="#">Home Tutors in Delhi</a></li>
                                <li><a href="#">Home Tutors in Gurgaon</a></li>
                                <li><a href="#">Home Tutors in Noida</a></li>
                                <li><a href="#">Home Tutors in Ghaziabad</a></li>
                                <li><a href="#">Home Tutors in Delhi NCR</a></li>
                                <li><a href="#">Home Tutors in Faridabad</a></li>
                            </ul>
                        </section>
                        <section class="3u 6u(medium) 12u$(small)">
                            <h3>Gurgaon</h3>
                            <ul class="unstyled">
                                <li><a href="#">Maths Tutors in Gurgaon</a></li>
                                <li><a href="#">Science Tutors in Gurgaon</a></li>
                                <li><a href="#">Accounts Tutors in Gurgaon</a></li>
                                <li><a href="#">Physics Tutors in Gurgaon</a></li>
                                <li><a href="#">Chemistry Tutors in Gurgaon</a></li>
                            </ul>
                        </section>
                        <section class="3u$ 6u$(medium) 12u$(small)">
                            <h3>Noida</h3>
                            <ul class="unstyled">
                                <li><a href="#">Maths Tutors in Noida</a></li>
                                <li><a href="#">Science Tutors in Noida</a></li>
                                <li><a href="#">Accounts Tutors in Noida</a></li>
                                <li><a href="#">Physics Tutors in Noida</a></li>
                                <li><a href="#">Chemistry Tutors in Noida</a></li>
                            </ul>
                        </section>
                    </div>
                </section>
                <div class="row">
                    <div class="8u 12u$(medium)">
                        <ul class="copyright">
                            <li>&copy; TryMyTutor. All rights reserved.</li>
                        </ul>
                    </div>
                    <div class="4u$ 12u$(medium)">
                        <ul class="icons">
                            <li>
                                <a href="https://www.facebook.com/trymytutor" class="icon rounded fa-facebook"><span class="label">Facebook</span></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/trymytutor" class="icon rounded fa-twitter"><span class="label">Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/+Trymytutor" class="icon rounded fa-google-plus"><span class="label">Google+</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <script type="text/javascript">
            $(document).ready(function(){
                {% block jquery %}{% endblock %}
            })
        </script>
</body>

</html>
