{% extends "base.html" %}
  {% load staticfiles %}



{%block title %}Edit Profile{% endblock %}
{%block head %}Edit Prfile{% endblock %}
{% block content %}
<section id="banner-register">
    <section class="cd-intro">
        <h2 class="cd-headline clip" style="margin-bottom: 25px;">
            <b class="is-visible">Update your profile</b> </h2>
        <div id="wrapper">
            <h2 style="text-align: left; margin-bottom: 1px; margin-top: 1em; margin-left: 2em;">Basic Personal Details:</h2>
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            <form enctype="multipart/form-data" name="Tutor_Info_Form" action="/editprofile/" method="post" >
            {% csrf_token %}
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}
                <div class="input-register">
                    <input class="input-field-register" placeholder="Enter your full address" name="address" tabindex="1">
                </div>
                <div class="input-register">
                    <input type="file" name="image" tabindex="1">
                </div>

                <div class="col-submit">
                    <button type="submit" class="submitbtn">Save</button>
                </div>
            </form>
        </div>
    </section>

           {% endblock %}
