{% extends "base.html" %}

{% block content %}
    <section id="banner">

        <section class="cd-intro">
            <section class="cd-faq">
                <div class="cd-faq-items">
                    <ul.unstyled id="basics" class="cd-faq-group">
                        <li class="cd-faq-title">
                            <h2-faq>Parents</h2-faq>
                        </li>
                        <li>
                            <a class="cd-faq-trigger" href="#0">How do I change my password?</a>
                            <div class="cd-faq-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem blanditiis delectus corporis, possimus officia sint sequi ex tenetur id impedit est pariatur iure animi non a ratione reiciendis nihil sed consequatur
                                    atque repellendus fugit perspiciatis rerum et. Dolorum consequuntur fugit deleniti, soluta fuga nobis. Ducimus blanditiis velit sit iste delectus obcaecati debitis omnis, assumenda accusamus cumque perferendis eos aut
                                    quidem! Aut, totam rerum, cupiditate quae aperiam voluptas rem inventore quas, ex maxime culpa nam soluta labore at amet nihil laborum? Explicabo numquam, sit fugit, voluptatem autem atque quis quam voluptate fugiat
                                    earum rem hic, reprehenderit quaerat tempore at. Aperiam.</p>
                            </div>
                            <!-- cd-faq-content -->
                        </li>

                        <li>
                            <a class="cd-faq-trigger" href="#0">How do I sign up?</a>
                            <div class="cd-faq-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi cupiditate et laudantium esse adipisci consequatur modi possimus accusantium vero atque excepturi nobis in doloremque repudiandae soluta non minus dolore voluptatem
                                    enim reiciendis officia voluptates, fuga ullam? Voluptas reiciendis cumque molestiae unde numquam similique quas doloremque non, perferendis doloribus necessitatibus itaque dolorem quam officia atque perspiciatis dolore
                                    laudantium dolor voluptatem eligendi? Aliquam nulla unde voluptatum molestiae, eos fugit ullam, consequuntur, saepe voluptas quaerat deleniti. Repellendus magni sint temporibus, accusantium rem commodi?</p>
                            </div>
                            <!-- cd-faq-content -->
                        </li>

                        <li>
                            <a class="cd-faq-trigger" href="#0">Who are your teachers?</a>
                            <div class="cd-faq-content">
                                <p>Our tutors are professional tutors, retired school teachers, or test prep gurus, writers, grad students, language instructors, and educators with years of tutoring experience. Each of our tutors undergoes Trymytutor.com's
                                    internal screening process and a background check.</p>
                            </div>
                            <!-- cd-faq-content -->
                        </li>
                        <li>
                            <a class="cd-faq-trigger" href="#0">How do reviews work?</a>
                            <div class="cd-faq-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis provident officiis, reprehenderit numquam. Praesentium veritatis eos tenetur magni debitis inventore fugit, magnam, reiciendis, saepe obcaecati ex vero
                                    quaerat distinctio velit.</p>
                            </div>
                            <!-- cd-faq-content -->
                        </li>
                    </ul.unstyled>
                    <!-- cd-faq-group -->
                    <ul.unstyled id="mobile" class="cd-faq-group">
                        <li class="cd-faq-title">
                            <h2-faq>Students</h2-faq>
                        </li>
                        <li>
                            <a class="cd-faq-trigger" href="#0">How does syncing work?</a>
                            <div class="cd-faq-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quidem delectus rerum eligendi mollitia, repudiandae quae beatae. Et repellat quam atque corrupti iusto architecto impedit explicabo repudiandae qui similique
                                    aut iure ipsum quis inventore nulla error aliquid alias quia dolorem dolore, odio excepturi veniam odit veritatis. Quo iure magnam, et cum. Laudantium, eaque non? Tempore nihil corporis cumque dolor ipsum accusamus
                                    sapiente aliquid quis ea assumenda deserunt praesentium voluptatibus, accusantium a mollitia necessitatibus nostrum voluptatem numquam modi ab, sint rem.</p>
                            </div>
                            <!-- cd-faq-content -->
                        </li>
                        <li>
                            <a class="cd-faq-trigger" href="#0">How do I upload files from my phone or tablet?</a>
                            <div class="cd-faq-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi tempore, placeat quisquam rerum! Eligendi fugit dolorum tenetur modi fuga nisi rerum, autem officiis quaerat quos. Magni quia, quo quibusdam odio. Error magni
                                    aperiam amet architecto adipisci aspernatur! Officia, quaerat magni architecto nostrum magnam fuga nihil, ipsum laboriosam similique voluptatibus facilis nobis? Eius non asperiores, nesciunt suscipit veniam blanditiis
                                    veritatis provident possimus iusto voluptas, eveniet architecto quidem quos molestias, aperiam eum reprehenderit dolores ad deserunt eos amet. Vero molestiae commodi unde dolor dicta maxime alias, velit, nesciunt cum
                                    dolorem, ipsam soluta sint suscipit maiores mollitia assumenda ducimus aperiam neque enim! Quas culpa dolorum ipsam? Ipsum voluptatibus numquam natus? Eligendi explicabo eos, perferendis voluptatibus hic sed ipsam rerum
                                    maiores officia! Beatae, molestias!</p>
                            </div>
                            <!-- cd-faq-content -->
                        </li>
                        <li>
                            <a class="cd-faq-trigger" href="#0">How do I link to a file or folder?</a>
                            <div class="cd-faq-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis provident officiis, reprehenderit numquam. Praesentium veritatis eos tenetur magni debitis inventore fugit, magnam, reiciendis, saepe obcaecati ex vero
                                    quaerat distinctio velit.</p>
                            </div>
                            <!-- cd-faq-content -->
                        </li>
                    </ul.unstyled>
                    <!-- cd-faq-group -->

                </div>
                <!-- cd-faq-items -->
                <a href="#0" class="cd-close-panel">Close</a>
            </section>
            <!-- cd-faq -->

        </section>
        {% endblock %}


