
{%extends "base.html" %}
  {% load staticfiles %}
{%block title %}{% endblock %}
{%block head %}{% endblock %}
{%block content %}
<!-- {% if user.username %}
<p>Welcome {{ user.username }}!Here your page content</p>
{% else %}
<p>Welcome anonymous user!
You need to login</p><br/>
{% endif %} -->



 <!-- Search Division -->
 <!-- <ol class="breadcrumb">
    <li><a href="{% url 'student_dashboard' %}">Dashboard</a></li>
    <li><a href="{% url 'student_dashboard_attendance' %}">DashboardAttendance</a></li>
    <li><a href="{% url 'student_dashboard_payment' %}">DashboardPayments</a></li>
    <li class="active">Search</li>
  </ol> -->
    <div class="main-body">
    <h1>
      Learn Anything
    </h1>
    <p>Search for Tutor</p>
    <form action="/search/" method="get">
    {% csrf_token %}
            <div class="search-input">
            <input name="subject_search" id="subjects" type="text" maxlength="12" autocomplete="on" placeholder="Subject">
            <input name="grade_search" id="grades" type="text" _maxlength="2" autocomplete="on" placeholder="Grade">
            <input name="pin_search" id="pins" type="text" _maxlength="6" autocomplete="on" placeholder="PIN">
            </br>
            <!-- <a href="{% url 'search' %}" class="submitbtn">Search</a> -->
            <button type="submit" >Search </button>
            </div>
            </form>
    </div>

</div>




{% endblock %}
