

{%extends "base.html" %}
  {% load staticfiles %}
{%block title %}{% endblock %}
{%block head %}{% endblock %}
{%block content %}
    <!-- Banner -->
    <section id="banner-payment">
        <section class="cd-intro">
            <h2 class="cd-headline clip">
                <b class="is-visible">Thanks for your interest.</b> </h2>
            <div id="wrapper">
                <form>
                    <div class="input-payment">
                        <input class="input-field-payment" placeholder="Mobile Number" name="subject" tabindex="1">
                    </div>
                    <div class="input-payment">
                        <input class="input-field-payment" placeholder="Amount" name="company" tabindex="2">
                    </div>

                    <div class="col-submit">
                        <a href="#" class="submitbtn">Pay Now</a>
                    </div>
                </form>
            </div>
            <p2>TryMyTutor connects expert educators with students. Thousands of students, schools & institutions use our platform to connect with talented tutors, teachers, trainers & Instructors. Since 2011 over 70000 students had a lesson with our elite
                tutors. Chances are there, one of your friends, neighbors or classmate might be using TryMyTutor.com services!
            </p2>
        </section>

{% endblock %}