

{%extends "base.html" %}
  {% load staticfiles %}
{%block title %}{% endblock %}
{%block head %}{% endblock %}
{%block content %}
    <!-- banner start -->
    <section id="banner-profile">
        <section id="cd-intro">
            <div class="student-profile-canvas">
                <div class="student-profile">
                    <img class='profile-pic-student' src="{% static 'images/profile.gif' %}" style="align:center;">
                    <table class="profile-details">
                        <tr>
                            <td rowspan="1" colspan='4' class='table-heading1'>Name of Student</td>
                        </tr>
                        <tr>
                            <td rowspan="1" colspan='4' class="tutor-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                                a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                                Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
                                <br>
                            </td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td rowspan="1" colspan='4' class="table-heading1">Education Qualifications:</td>
                            <tr class="table-sub-heading">
                                <td rowspan="1" colspan='1'>Name of Qualification</td>
                                <td rowspan="1" colspan='1'>University/Board</td>
                                <td rowspan="1" colspan='1'>Year of Passing</td>
                                <td rowspan="1" colspan='1'>Score</td>
                            </tr>
                            <tr class="table-details-center">
                                <td rowspan="1" colspan='1'>Bachelors of Science</td>
                                <td rowspan="1" colspan='1'>University Of Delhi</td>
                                <td rowspan="1" colspan='1'>2015</td>
                                <td rowspan="1" colspan='1'>78%</td>
                            </tr>
                            <tr class="table-details-center">
                                <td rowspan="1" colspan='1'>Higher Secondary</td>
                                <td rowspan="1 " colspan='1'>CBSE</td>
                                <td rowspan="1 " colspan='1'>2012</td>
                                <td rowspan="1 " colspan='1'>86%</td>
                            </tr>
                    </table>
                </div>

        </section>
    </section>

    
{% endblock %}