
{%extends "base.html" %}

{% load staticfiles %}

{%block title %}{% endblock %}
{%block head %}{% endblock %}
{%block content %}

  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="{% url 'search' %}">Search</a></li>
    <li class="active">Tutor-Profile</li>
  </ol>

<div class="long-profile">
<div class="container">
  <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
    <img class="tutor-picture" alt="tutor-profile-picture" src="{% static 'assets/tutor.png' %}">

    <div class="col-md-4 col-sm-4 col-xs-4 col-ls-4">
      <div class="thick">Rs500/- </div>
        <div class="thin">per hour </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4 col-ls-4">
      <div class="thick"> 2.0 </div>
      <div class="thin"> km away </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4 col-ls-4">
      <div class="thick"> active </div>
      <div class="thin"> 2 days ago </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4 col-ls-4">
      <div class="thick"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></div>
      <div class="thin">verified </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4 col-ls-4">
      <div class="thick"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
      <div class="thin">since 2 months </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4 col-ls-4">
      <div class="thick">242 hours</span></div>
      <div class="thin">taught with us </div>
    </div>
  </div>
  <div class="col-md-8 col-sm-8 col-xs-12 col-ls-8">
    <div class="tutor-details">
      <div class="name-field">
        <h2> Mia Khalifa, <small>26 years<small>
          <div class=" hire-now-button">Request Demo</div>
        </h2>
      </div>
      <div class="head">Overall Rating
      </div>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            60
          </div>
        </div>
    <div class="head">English Proficiency
    </div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
          60
        </div>
      </div>

      <div class="head">English Proficiency
      </div>
        <div class="progress">
          <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            60
          </div>
        </div>

        <div class="head">English Proficiency
        </div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
              60
            </div>
          </div>


          <div class="head">English Proficiency
          </div>
            <div class="progress">
              <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                60
              </div>
            </div>


            <div class="head">English Proficiency
            </div>
              <div class="progress">
                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                  60
                </div>
              </div>
            </div>

          </div>

          <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">
                    <div class="row">
                      <div class="col-md-3">Name of qualification
                      </div>
                      <div class="col-md-3">Board/University
                      </div>
                      <div class="col-md-3">Year of Passing
                      </div>
                      <div class="col-md-3">Score
                      </div>
                    </div>
                  </h3>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-3">Graduation
                    </div>
                    <div class="col-md-3">University of Delhi
                    </div>
                    <div class="col-md-3">2012
                    </div>
                    <div class="col-md-3">65%
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">Senior Secondary
                    </div>
                    <div class="col-md-3">CBSE
                    </div>
                    <div class="col-md-3">2009
                    </div>
                    <div class="col-md-3">85%
                    </div>
                  </div>
                  </div>
</div>
          </div>
        </div>
</div>

{% endblock %}
