<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<title>A</title>
<meta charset="iso-8859-1">


<script>
$(document).ready(function(){
 $(window.location.hash).modal('show');
 $('a[data-toggle="modal"]').click(function(){
    window.location.hash = $(this).attr('href');
 });
});
</script>


<style>

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

form {
  max-width: 300px;
  margin: 5px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: 32px;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 15px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 0px 5px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}
 .input.last{border:0;}
button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #323332;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #323332;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;

}

fieldset {
  margin-bottom: 5px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 2px;
}

label.light {
  font-weight: 300;
  display: inline;
}
}
.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}


</style>
</head>
<body>
{% block head %}{% endblock %}
{% block content %}



<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">

        <div class="form">
          <div>
                      <h2 style="text-align: center; margin-bottom: 1px; margin-top: 1em; margin-left: 2em;">Tutor preferences:</h2>
                      <form name="Tutor_Preference_Form" action="/addtutorPreference/" method="post">
                        <div>
                      {% csrf_token %}
                              <input type="text" placeholder="Enter your details" name="tutor_detail">
                              <input type="text" placeholder="Teaching Experience" name="teaching_exp">
                              <select  name="prefer_time_slot" tabindex="1">
                                <option value="M">Morning</option>
                                <option value="A">Afternoon</option>
                                <option value="E">Evening</option>
                              </select>
                              <select name="prefer_tution_type" tabindex="2">
                                <option value="O">ONE-ON-ONE</option>
                                <option value="G">Group</option>
                              </select>


                              <input type="text" placeholder="Teaching Duration/session" name="prefer_duration_session">


                              <input type="checkbox" name="Mon">Monday
                              <input type="checkbox" name="Tue">Tuesday
                              <input type="checkbox" name="Wed">Wednesday
                              <input type="checkbox" name="Thu">Thursday
                              <input type="checkbox" name="Fri">Friday
                              <input  type="checkbox" name="Sat">Saturday
                              <input type="checkbox" name="Sun">Sunday

                           <!-- {{ form.as_p }} -->
</div>  </div>
                          <div>
                              <button type="submit" class="button button-block">Save</button>
                          </div>
                      </form>
                </div>


</div>
</div>
</div>
</div>
<script>
$(document).ready(function(){
 $(window.location.hash).modal('show');
 $('a[data-toggle="modal"]').click(function(){
    window.location.hash = $(this).attr('href');
 });
})111;
$('button[data-dismiss="modal"]').click(function(){
     var original = window.location.href.substr(0, window.location.href.indexOf('#'))
     history.replaceState({}, document.title, original);
 });
</script>
{% endblock %}
</body>
</html>
