

{%extends "base.html" %}
  {% load staticfiles %}
{%block title %}{% endblock %}
{%block head %}{% endblock %}
{%block content %}

     <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Search</li>
    <!-- <li class="active">Tutor-Profile</li> -->
  </ol>

  <!-- Search Division -->
<div class="search-result-body">

<p>Found 20... teachers..</p>
<form action="/search/" method="get">
    {% csrf_token %}
<div class="research-input">
<input name="subject_search" id="subjects" type="text" maxlength="12" autocomplete="on" placeholder="Subject">
<input name="grade_search" id="grades" type="text" _maxlength="2" autocomplete="on" placeholder="Grade">
<input name="pin_search" id="pins" type="text" _maxlength="6" autocomplete="on" placeholder="PIN">
<button type="submit" >Search Again</button>
</div>
</form>


</div>

<!-- Canvas for search result starts -->

<div class="search-results">
<div class="row">
  <div class="col-md-10 col-md-push-2">
  <div class="row">
    <ul>
      <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="tutor-card">
          <img src="{% static 'assets/tutor.png' %}" alt="tutor-profile-picture"/>
          <div class="row">
            <div class="col-md-4  col-xs-4 col-lg-4 col-sm-4">
              <div class="thick">Rs500/- </div>
                <div class="thin">per hour </div>
            </div>
            <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
              <div class="thick"> 2.0 </div>
              <div class="thin"> km away </div>
            </div>
            <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
              <a href="#">
                <div class="hire-now-button">
                  <div class="thick"> Demo
                  </div>
                    <div class="thin"> Request
                      <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                    </div>
                </div>
              </a>
            </div>
              <button   onclick="myShowFunction('1')">
                View more <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
              </button>
          </div>
          <div class="tutor-details" id="1">
          <div class="medium">English Proficiency
          </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                60
              </div>
            </div>
            <div class="medium">Teacher Rating
            </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                  80
                </div>
              </div>
              <div class="medium">Result Oriented
              </div>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                    95
                  </div>
                </div>

                <div class="medium">Overall
                </div>
                  <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100" style="width: 76%;">
                      76/100
                    </div>
                  </div>
                  <div class="view-details-button">
                    View Full Profile
                    <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                  </div>
        </div>
      </div>
      </li>




      <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="tutor-card">
          <img src="{% static 'assets/tutor.png' %}" alt="tutor-profile-picture"/>
          <div class="row">
            <div class="col-md-4  col-xs-4 col-lg-4 col-sm-4">
              <div class="thick">Rs500/- </div>
                <div class="thin">per hour </div>
            </div>
            <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
              <div class="thick"> 2.0 </div>
              <div class="thin"> km away </div>
            </div>
            <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
              <a href="#">
                <div class="hire-now-button">
                  <div class="thick"> Demo
                  </div>
                    <div class="thin"> Request
                      <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                    </div>
                </div>
              </a>
            </div>
              <button onclick="myShowFunction('2')">
                View more <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
              </button>
          </div>
          <div class="tutor-details" id="2">
          <div class="medium">English Proficiency
          </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                60
              </div>
            </div>
            <div class="medium">Teacher Rating
            </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                  80
                </div>
              </div>
              <div class="medium">Result Oriented
              </div>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                    95
                  </div>
                </div>

                <div class="medium">Overall
                </div>
                  <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100" style="width: 76%;">
                      76/100
                    </div>
                  </div>
                  <div class="view-details-button">
                    View Full Profile
                    <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                  </div>

        </div>
      </div>
      </li>




      <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="tutor-card">
          <img src="{% static 'assets/tutor.png' %}" alt="tutor-profile-picture"/>
          <div class="row">
            <div class="col-md-4  col-xs-4 col-lg-4 col-sm-4">
              <div class="thick">Rs500/- </div>
                <div class="thin">per hour </div>
            </div>
            <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
              <div class="thick"> 2.0 </div>
              <div class="thin"> km away </div>
            </div>
            <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
              <a href="#">
                <div class="hire-now-button">
                  <div class="thick"> Demo
                  </div>
                    <div class="thin"> Request
                      <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                    </div>
                </div>
              </a>
            </div>
            <button   onclick="myShowFunction('3')">
              View more <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </button>
          </div>
          <div class="tutor-details" id="3">
          <div class="medium">English Proficiency
          </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                60
              </div>
            </div>
            <div class="medium">Teacher Rating
            </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                  80
                </div>
              </div>
              <div class="medium">Result Oriented
              </div>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                    95
                  </div>
                </div>

                <div class="medium">Overall
                </div>
                  <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100" style="width: 76%;">
                      76/100
                    </div>
                  </div>
                  <div class="view-details-button">
                    View Full Profile
                    <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                  </div>

        </div>
      </div>
      </li>





      <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="tutor-card">
          <img src="{% static 'assets/tutor.png' %}" alt="tutor-profile-picture"/>
          <div class="row">
            <div class="col-md-4  col-xs-4 col-lg-4 col-sm-4">
              <div class="thick">Rs500/- </div>
                <div class="thin">per hour </div>
            </div>
            <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
              <div class="thick"> 2.0 </div>
              <div class="thin"> km away </div>
            </div>
            <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
              <a href="#">
                <div class="hire-now-button">
                  <div class="thick"> Demo
                  </div>
                    <div class="thin"> Request
                      <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                    </div>
                </div>
              </a>
            </div>
            <button   onclick="myShowFunction('4')">
              View more <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </button>
          </div>
          <div class="tutor-details" id="4">
          <div class="medium">English Proficiency
          </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                60
              </div>
            </div>
            <div class="medium">Teacher Rating
            </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                  80
                </div>
              </div>
              <div class="medium">Result Oriented
              </div>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                    95
                  </div>
                </div>

                <div class="medium">Overall
                </div>
                  <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100" style="width: 76%;">
                      76/100
                    </div>
                  </div>
                  <div class="view-details-button">
                    View Full Profile
                    <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                  </div>

        </div>
      </div>
      </li>




      <li class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="tutor-card">
          <img src="{% static 'assets/tutor.png' %}" alt="tutor-profile-picture"/>
          <div class="row">
            <div class="col-md-4  col-xs-4 col-lg-4 col-sm-4">
              <div class="thick">Rs500/- </div>
                <div class="thin">per hour </div>
            </div>
            <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
              <div class="thick"> 2.0 </div>
              <div class="thin"> km away </div>
            </div>
            <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4">
              <a href="#">
                <div class="hire-now-button">
                  <div class="thick"> Demo
                  </div>
                    <div class="thin"> Request
                      <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                    </div>
                </div>
              </a>
            </div>
            <button   onclick="myShowFunction('5')">
              View more <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
            </button>
          </div>
          <div class="tutor-details" id="5">
          <div class="medium">English Proficiency
          </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                60
              </div>
            </div>
            <div class="medium">Teacher Rating
            </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                  80
                </div>
              </div>
              <div class="medium">Result Oriented
              </div>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                    95
                  </div>
                </div>

                <div class="medium">Overall
                </div>
                  <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100" style="width: 76%;">
                      76/100
                    </div>
                  </div>
                  <div class="view-details-button">
                    View Full Profile
                    <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                  </div>
        </div>
      </div>
      </li>
    </ul>

  </div>






  </div>
  <div class="col-md-2 col-md-pull-10">
  <div class="list-group filters">
  <div class="list-group-item filter-head">Filters</div>
  <!-- <div class="list-group-item">Pricing</div> -->
    <div class="dropdown list-group-item">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Pricing
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">Less than Rs2000/-</a></li>
          <li><a href="#">Rs2000/- to Rs4000/-</a></li>
          <li><a href="#">Rs4000/- to Rs6000/-</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Ascending Order</a></li>
          <li><a href="#">Descending Order</a></li>
        </ul>
      </div>

      <div class="dropdown list-group-item">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Rating
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">More than 4 Star only</a></li>
            <li><a href="#">More than 3 Star only</a></li>
            <li><a href="#">More than 2 Star only</a></li>
            <li><a href="#">Others</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Ascending Order</a></li>
            <li><a href="#">Descending Order</a></li>
          </ul>
        </div>

        <div class="dropdown list-group-item">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Distance
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Within 1 km</a></li>
              <li><a href="#">Within 3 km</a></li>
              <li><a href="#">Within 5 km</a></li>
              <li><a href="#">Within 7 km</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Ascending Order</a></li>
              <li><a href="#">Descending Order</a></li>
            </ul>
          </div>
</div>
  </div>
</div>

</div>
</div>
<script>
  function myShowFunction(id) { console.log(id)
      var x = document.getElementById(id);
      console.log(x)
      if (x.style.display === 'none') {

          x.style.display = 'block';
      } else {
          x.style.display = 'none';
      }
  }
  </script>

{% endblock %}