
{%extends "base.html" %}
  {% load staticfiles %}
{%block title %}{% endblock %}
{%block head %}{% endblock %}
{%block content %}



<!-- Search Division -->
<div class="main-body">
  <div class="row">
  <div class="col-md-3 col-lg-2">
  <ul class="nav nav-pills nav-stacked sidebar">
    <li ><a href="#" class="active">Dashboard</a></li>
    <li><a href="#">Attendance</a></li>
    <li><a href="#">Payments</a></li>
    <li><a href="#">Tuitions</a></li>
    <li><a href="#">Personal Details</a></li>
  </ul>
</div>
<div class="col-md-9 col-lg-10 col-sm-8 col-xs-12 dashboard-details">

    <h2>Upcoming Classes</h2>

    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-11 col-lg-3">
          <div class="class-details">
              <div class="class-date">
              Tue, 2nd March 2017
              </div>
              <div class="class-subject">
                Maths
              </div>
              <div class="class-topic">
                Algebra
              </div>
            </div>
          </div>

          <div class="col-md-3 col-sm-4 col-xs-12 col-lg-3">
              <div class="class-details">
                  <div class="class-date">
                  Tue, 2nd June 2017
                  </div>
                  <div class="class-subject">
                    Maths
                  </div>
                  <div class="class-topic">
                    Algebra
                  </div>
                </div>
              </div>

              <div class="col-md-3 col-sm-4 col-xs-12 col-lg-3">
                  <div class="class-details">
                      <div class="class-date">
                      Wed, 3rd June 2017
                      </div>
                      <div class="class-subject">
                        Maths
                      </div>
                      <div class="class-topic">
                        Algebra
                      </div>
                    </div>
                  </div>
        </div>


        <h2> Payment Summary </h2>

        <div class="row">

        <div class="col-md-3 col-sm-4 col-xs-12 col-lg-3">
            <div class="payment-details">
                <div class="payment-date">
                Tue, 2nd May 2017
                </div>
                <div class="payment-type-credit">
                  Add to wallet
                </div>
                <div class="payment-amount">
                Credit:  Rs4500/-
                </div>
                <div class="payment-txnid">
                Transaction ID: 32423423
                </div>
                <div class="remaining-balance">
                  Remaining Balance: Rs5500/-
                </div>
              </div>
            </div>


            <div class="col-md-3 col-sm-4 col-xs-12 col-lg-3">
                <div class="payment-details">
                    <div class="payment-date">
                    Monday, 1st May 2017
                    </div>
                    <div class="payment-type-debit">
                      Deducted for class
                    </div>
                    <div class="payment-amount">
                    Debit:  Rs3500/-
                    </div>
                    <div class="payment-txnid">
                    Transaction ID: 32423434
                    </div>
                    <div class="remaining-balance">
                      Remaining Balance: Rs1000/-
                    </div>
                  </div>
                </div>
          </div>




          <h2> Recent Classes </h2>

          <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12 col-lg-3">
                <div class="class-details">
                    <div class="class-date">
                    Wed, 29th May 2017
                    </div>
                    <div class="class-subject">
                      Maths
                    </div>
                    <div class="class-topic">
                      Algebra
                    </div>
                  </div>
                </div>


                <div class="col-md-3 col-sm-4 col-xs-12 col-lg-3">
                    <div class="class-details">
                        <div class="class-date">
                        Wed, 28th May 2017
                        </div>
                        <div class="class-subject">
                          Science(Biology)
                        </div>
                        <div class="class-topic">
                          Reproduction
                        </div>
                      </div>
                    </div>


                    <div class="col-md-3 col-sm-4 col-xs-12 col-lg-3">
                        <div class="class-details">
                            <div class="class-date">
                            Wed, 26th May 2017
                            </div>
                            <div class="class-subject">
                              History
                            </div>
                            <div class="class-topic">
                              Independent India
                            </div>
                          </div>
                        </div>



                        <div class="col-md-3 col-sm-4 col-xs-12 col-lg-3">
                            <div class="class-details">
                                <div class="class-date">
                                Wed, 3rd June 2017
                                </div>
                                <div class="class-subject">
                                  Science(Physics)
                                </div>
                                <div class="class-topic">
                                  Newton's Law
                                </div>
                              </div>
                            </div>


                            <div class="col-md-3 col-sm-4 col-xs-12 col-lg-3">
                                <div class="class-details">
                                    <div class="class-date">
                                    Wed, 3rd June 2017
                                    </div>
                                    <div class="class-subject">
                                      Science(Physics)
                                    </div>
                                    <div class="class-topic">
                                      Newton's Law
                                    </div>
                                  </div>
                                </div>

          </div>
  </div>


</div>
</div>

     {% endblock %}
