
{%extends "base.html" %}
  {% load staticfiles %}
{%block title %}{% endblock %}
{%block head %}{% endblock %}
{%block content %}
  <!-- Search Division -->
<div class="main-body">
  <div class="row">
  <div class="col-md-3 col-lg-2">
  <ul class="nav nav-pills nav-stacked sidebar">
    <li ><a href="#">Dashboard</a></li>
    <li><a href="#">Attendance</a></li>
    <li><a href="#" class="active">Payments</a></li>
    <li><a href="#">Tuitions</a></li>
    <li><a href="#">Personal Details</a></li>
  </ul>
</div>
<div class="col-md-9 col-lg-10 col-sm-8 col-xs-12 transaction-details">
  <div class="row">
      <div class="col-xs-10">
          <div class=" transaction-summary panel panel-primary">
              <!-- Default panel contents -->
              <div class="panel-heading">
                  <h2 class="panel-title">
                      Account Transactions Summary
                  </h2>

              </div>
              <div class="panel-body">
              </div>
                  <ul class="list-group">

                  <li class="list-group-item">
                  <h4>AccountID #1364672
                    <br>
                    (current balance:<strong> Rs3560.61/- </strong>)</h4>
                    <button type="button" class="btn btn-success btn-lg">Add Money</button>

                  <table class="table table-hover">
                      <thead>
                          <tr>
                              <th>Transaction date</th>
                              <th>Transaction Time</th>
                              <th>2nd Party</th>
                              <th>Type</th>
                              <th>Amount</th>
                              <th>Transaction ID</th>
                              <th>Description</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td>Wed Nov 12 2014</td>
                              <td>17:43:13</td>
                              <td>Mr Sundeep Kumar</td>
                              <td>Debit</td>
                              <td>- Rs850/-</td>
                              <td>#342345235235</td>
                              <td>Maths Class id:23232</td>
                          </tr>
                          <tr>
                            <td>Wed Nov 12 2014</td>
                            <td>17:43:13</td>
                            <td>Mr Sundeep Kumar</td>
                            <td>Debit</td>
                            <td>- Rs850/-</td>
                            <td>#342345235235</td>
                            <td>Maths Class id:23232</td>
                          </tr>
                          <tr>
                            <td>Wed Nov 12 2014</td>
                            <td>17:43:13</td>
                            <td>Mr Sundeep Kumar</td>
                            <td>Debit</td>
                            <td>- Rs850/-</td>
                            <td>#342345235235</td>
                            <td>Maths Class id:23232</td>
                          </tr>
                      </tbody>
                  </table>
                  </li>




                  <!-- Pagination Laga dena -->
              </ul>
          </div>
      </div>
  </div>
</div>
</div>
</div>

{% endblock %}