
{%extends "base.html" %}
  {% load staticfiles %}
{%block title %}{% endblock %}
{%block head %}{% endblock %}
{%block content %}
 <!-- Search Division -->
<div class="main-body">
  <div class="row">
  <div class="col-md-3 col-lg-2">
  <ul class="nav nav-pills nav-stacked sidebar">
    <li ><a href="#">Dashboard</a></li>
    <li><a href="#" class="active">Attendance</a></li>
    <li><a href="#">Payments</a></li>
    <li><a href="#">Tuitions</a></li>
    <li><a href="#">Personal Details</a></li>
  </ul>
</div>
<div class="col-md-9 col-lg-10 col-sm-8 col-xs-12 dashboard-details">

  <h2>Agenda</h2>
  <div class="agenda">
        <div class="table-responsive">
            <table class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Subject</th>
                        <th>Teacher</th>
                        <th>Attendance</th>
                        <th>Rating</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="agenda-date" class="active" rowspan="1">
                            <div class="dayofmonth">26</div>
                            <div class="dayofweek">Saturday</div>
                            <div class="shortdate text-muted">July, 2014</div>
                        </td>
                        <td class="agenda-time">
                            05:30 PM - 7:30 PM
                        </td>
                        <td class="agenda-subject">
                            <div class="agenda-event">
                                History (Indepedent India)
                            </div>
                        </td>
                        <td class="agenda-teacher">
                            <div class="agenda-teacher">
                                Mr Sundeep Kumar
                            </div>
                        </td>
                        <td class="agenda-attendance">
                            <div class="agenda-attendance">
                              Present
                              <!-- Class Attended?
                                <form>
                                    <select>
                                      <option value="yes">Yes</option>
                                      <option value="yes">No</option>
                                    </select>
                                    <button class="small-submit"> Submit </button>
                                </form> -->
                            </div>
                        </td>
                        <td class="agenda-rating">
                            <div class="agenda-rating">
                                <form>
                                    <select>
                                      <option value="1">1</option>
                                      <option value="2">2</option>
                                      <option value="3">3</option>
                                      <option value="4">4</option>
                                      <option value="5">5</option>
                                    </select>
                                    <button class="small-submit"> Submit </button>
                                </form>
                            </div>
                        </td>
                        <td class="agenda-payment">
                            <div class="agenda-payment">
                              Rs.1150/-
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-date" class="active" rowspan="3">
                            <div class="dayofmonth">24</div>
                            <div class="dayofweek">Thursday</div>
                            <div class="shortdate text-muted">July, 2016</div>
                        </td>
                        <td class="agenda-time">
                            8:00 - 9:00 AM
                        </td>
                        <td class="agenda-subject">
                            <div class="agenda-subject">
                                Physcics ( Gravitional Forces)
                            </div>
                        </td>
                        <td class="agenda-teacher">
                            <div class="agenda-teacher">
                                Mr Somvir Yadav
                            </div>
                        </td>
                        <td class="agenda-attendance">
                            <div class="agenda-attendance">
                                Present
                            </div>
                        </td>
                        <td class="agenda-rating">
                            <div class="agenda-rating">
                                4 Stars
                            </div>
                        </td>
                        <td class="agenda-payment">
                            <div class="agenda-payment">
                                Rs.750/-
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            10:15 AM - 12:00 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                Chemistry (Redox Reactions)
                            </div>
                        </td>

                        <td class="agenda-teacher">
                            <div class="agenda-teacher">
                                Mr Mujahid Khan
                            </div>
                        </td>
                        <td class="agenda-attendance">
                            <div class="agenda-attendance">
                                Present
                            </div>
                        </td>
                        <td class="agenda-rating">
                            <div class="agenda-rating">
                                3 Stars
                            </div>
                        </td>
                        <td class="agenda-payment">
                            <div class="agenda-payment">
                                Rs.650/-
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="agenda-time">
                            4:00 - 6:00 PM
                        </td>
                        <td class="agenda-events">
                            <div class="agenda-event">
                                Maths (Integrals)
                            </div>
                        </td>

                        <td class="agenda-teacher">
                            <div class="agenda-teacher">
                                Ms Sapna Sharma
                            </div>
                        </td>
                        <td class="agenda-attendance">
                            <div class="agenda-attendance">
                                Present
                            </div>
                        </td>
                        <td class="agenda-rating">
                            <div class="agenda-rating">
                                3 Stars
                            </div>
                        </td>
                        <td class="agenda-payment">
                            <div class="agenda-payment">
                                Rs.1250/-
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>



  </div>
</div>
</div>

{% endblock %}
